 @import '~bootstrap/dist/css/bootstrap.min.css';

 .photo {
   margin: 30px;
   padding: 10px;

   img {
     width: 30vw;
     height: 50vh;
   }


   @media only screen and (max-width: 768px) {
     img {
      height: 200px;
     }
   }
 }
