<div class="container">
    <div class="row">
        <div class=" col text-center">
            <div class="mb-4"><span class="title ">Social Media App</span> </div>
            <h5><a class=" font-weight-bold subpageSelection  p-3 m-3" [routerLink]="'/users'"
                    routerLinkActive="active">Users</a>
                <a class=" font-weight-bold subpageSelection p-3 m-3" [routerLink]="''"
                    routerLinkActive="active">Posts</a>
                <a class=" font-weight-bold subpageSelection p-3 m-3" [routerLink]="'/albums'"
                    routerLinkActive="active">Albums</a>
            </h5>
        </div>
    </div>
</div>