@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #C5C6C7;

  .posts {
    border: 1px solid #66FCF1;
    background-color: #1F2833;
    color: #66FCF1;

    .title {
      font-size: 22px;
    }
  }
}
